<header>
    <nav>
<li> <a href="/">Hospital</a></li>

<ul>
<li><a href="/authors">Authors</a></li>
<li><a href="/authors/new">add Author</a></li>
<li><a href="/books">ALL Books</a></li>
<li><a href="/books/newB">add Book</a></li>
</ul>
    </nav>
</header>