<h1>Books Dashboard</h1>

<div>
  <% bookk.forEach(bookk => { %>
    <a href="/books/<%= book.id %> ">
      <img height="150" width="100" src="<%= bookk.coverImagePath %>">
    </a>
  <% }) %>
</div> 
  