<h2> new BOOK</h2>
<form action="/books" method="POST"><!--it s not multi-form anymore cause its only a json string now  -->
<%- include('_form_fieldsB') %>
<a href="/books">cancel</a>
<button type="submit">create</button><!--these gonna fire the submit -->
</form>
